:root {
    --main-accent: #FF5D73;
}

[data-theme^="light"],
[data-theme] [data-theme^="light"] {
    --main-color: #000;
    --main-accent: #eeeeee;
    --background-color: #cdcdcd;
    --box-color: #fff;
}

[data-theme^="dark"],
[data-theme] [data-theme^="dark"],
[data-theme="light-dark-sidebar"] nav {
    --main-color: #fff;
    --main-accent: #000;
    --background-color: #0e0e0e;
    --box-color: #171717;
}

html {
    /* overflow-y: hidden;
    overflow-x: auto; */
    width: 100%;
    height: 350px;
    overflow: auto;
    -webkit-user-select: none;
    user-select: none;
    background-color: var(--background-color);
}

body {
    color: var(--main-color)
}

.scroller {
    height: 280px;
    overflow-y: hidden;
    white-space: nowrap;
}

.card {
    display: inline-block;
    background-color: var(--box-color);
    color: var(--main-color);
    width: 300px;
    height: 250px;
    margin-right: 1.5rem;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
}

.card:hover {}

.card-content {
    height: 210px;
    white-space: normal;
    overflow: auto;
    word-break: break-all;
}

.card-footer {
    padding: 10px 10px;
    font-size: 12px;
    border-top-color: var(--main-accent);
}

.card-footer-item:not(:last-child) {
    border-right: 1px solid var(--main-accent);
}

.card-footer-item {
    padding: 0;
}

.icon-app {
    color: var(--main-color)
}

.footer {
    background: var(--background-color);
    padding-top: 5px !important;
    padding: 3rem 0.75rem 6rem;
    /* width: min-content; */
}

.empty-box {
    height: 250px;
    width: 100%;
    padding-top: 60px;
}

.column {
    background-color: var(--background-color);
}

::-webkit-scrollbar {
    background-color: var(--background-color);
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background: var(--box-color);
}


/* Search bar */

form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 40px;
    height: 40px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.anim-icon {
    box-sizing: border-box;
    padding: 2px;
    width: 32.5px;
    height: 32.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover, form:focus-within {
  width: 400px;
  cursor: pointer;
}

form:hover input {
    display: block;
}

form:hover .anim-icon {
    background: #07051a;
    color: white;
}
